<mat-slide-toggle (change)="changeSlideToggle($event)">RawData</mat-slide-toggle>
<button (click)="register()">登録</button>
<form [formGroup]="formGroup" class="edit-form">
  <label class="edit-form__name-label">name: <input class="edit-form__name-input" formControlName="name"
                                                    type="text"></label>
  <app-form-error [form]="name"></app-form-error>
  <ng-container [ngSwitch]="isRawData">
    <div *ngSwitchCase="true">
      <label>
        Raw Data:
        <textarea formControlName="rawData"></textarea>
      </label>
      <app-form-error [form]="rawData"></app-form-error>
    </div>
    <div *ngSwitchCase="false">
      <div formArrayName="keyValueList">
        <button (click)="addList()">Add List</button>
        <div *ngFor="let keyValue of keyValueList.controls; let i = index">
          <div [formGroupName]="i">
            <label>
              key: <input [formControlName]="'key' + i" type="text">
            </label>
            <label>
              value: <input [formControlName]="'value' + i" type="text">
            </label>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</form>
